.column-container {
    h2 {
        text-align: center;
        color: white;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
        li {
            list-style-type: none;
        }
    }
}