<div class="content">
    <button class="randomize-button" (click)="onRandomizeClicked($event)" aria-label="Randomize all">
        <div class="title-container">
            <img src="assets/game-icons.net/delapouite/perspective-dice-six-faces-random.svg" draggable="false">
            <h1 class="title">GAME COMPLEX</h1>
        </div>
        <p class="subtitle">A Game Idea Generator by Singulo</p>
    </button>
    <p class="instructions">Click the title to randomize all. Click the categories to randomize that category. Click an individual idea to randomize it. Lock the ones you like!</p>
    <div class="idea-types-container">
        <div class="idea-types-group">
            <ideas [ideaType]="themeType" [amount]=1 [randomizeEvent]="randomizeSubject.asObservable()"></ideas>
            <ideas [ideaType]="settingType" [amount]=2 [randomizeEvent]="randomizeSubject.asObservable()"></ideas>
        </div>
        <div class="idea-types-group">
            <ideas [ideaType]="goalType" [amount]=1 [randomizeEvent]="randomizeSubject.asObservable()"></ideas>
            <ideas [ideaType]="wildcardType" [amount]=3 [randomizeEvent]="randomizeSubject.asObservable()"></ideas>
        </div>
    </div>

    <footer>
        <p>Icons by many contributors on <a href="https://game-icons.net/">Game-icons.net</a>. Font is by <a href="https://www.dafont.com/jeti.d1589">jeti on dafont.com</a>.</p>
        <p>Built using <a href="https://angular.dev/">Angular 16.2.16</a>.</p>
    </footer>
</div>