.title {
    color: white;
    text-align: center;
    margin: 1vmax 0 0 0;
}

.subtitle {
    color: white;
    text-align: center;
    opacity: 0.5;
    margin: 0 0 1vmax 0;
}

.idea-types-container {
    display: flex;
    flex-direction: column;
    width: calc(300px + 20vmax);
    margin: 0 auto;

    .randomize-button {
        color: white;
        background-color: transparent;
        border: 0;
        font-family: enter-command-bold;
        font-size: calc(32px + 0.5vmax);
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    .idea-types-container {
        width: 90vw;
    }
}

ideas {
    flex-grow: 1;
    margin: 0 0 1vmax 0;
}