.ideas-container {
    h2 {
        margin: 0 0 1vmax 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 1vmax;

        .idea-container {
            list-style-type: none;
            margin: 0;
        }
    }
}