.ideas-container {
    h2 {
        font-size: 48px;
        margin: 0 0 0 150px;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 8px;
        
        .idea-container {
            list-style-type: none;
            margin: 10px 0 0 0;
        }
    }
}