.locked-border {
    border-radius: 8px;
    outline-width: 4px;
    outline-style: solid;
}

.content-container {
    display: flex;
    padding: 0.5vmax;

    .lock-button {
        width: calc(16px + 0.5vmax);
        background-color: transparent;
        border: 0;
        padding: 0;
        flex-shrink: 0;
        display: grid;
        margin: calc((16px + 0.5vmax) / 2) 0 0 0;
        
        .lock-icon {
            width: calc(16px + 0.5vmax);
            opacity: 0.5;
        }

        .lock {
            animation: lock 0.5s ease-in;
            opacity: 1;
        }

        .unlock {
            animation: unlock 0.5s ease-out;
            opacity: 0.5;
        }

        @keyframes lock {
            0% {rotate: 0deg;}
            20% {rotate: 20deg;}
            40% {rotate: -15deg;}
            60% {rotate: 10deg;}
            80% {rotate: -5deg;}
            100% {rotate: 0deg;}
        }
        @keyframes unlock {
            0% {rotate: 0deg;}
            20% {rotate: -20deg;}
            40% {rotate: 15deg;}
            60% {rotate: -10deg;}
            80% {rotate: 5deg;}
            100% {rotate: 0deg;}
        }
    }

    .discard-button {
        display: flex;
        background-color: transparent;
        border: 0;
        padding: 0;

        .text-container {
            h3 {
                text-align: left;
                margin: 0;
            }
    
            p {
                color: white;
                text-align: left;
                margin: 0;
                opacity: 0.5;
            }
        }
        
        .icon-container {
            display: flex;
            width: calc(32px + 1vmax);
            height: calc(32px + 1vmax);
            margin: 0 calc(16px + 1vmax) 0 calc(8px + 1vmax);
            flex-shrink: 0;
    
            .icon {
                position: absolute;
                width: calc(32px + 1vmax);
            }
        }
    }
}