.content-container {
    display: flex;

    .lock-button {
        width: 32px;
        background-color: transparent;
        border: 0;
        padding: 0;
        
        .lock-icon {
            width: 32px;
        }

        .lock {
            animation: lock 0.5s ease-in;
            opacity: 1;
        }
    
        .unlock {
            animation: unlock 0.5s ease-out;
            opacity: 0.5;
        }
    
        @keyframes lock {
            0% {rotate: 0deg;}
            20% {rotate: 20deg;}
            40% {rotate: -15deg;}
            60% {rotate: 10deg;}
            80% {rotate: -5deg;}
            100% {rotate: 0deg;}
        }
        @keyframes unlock {
            0% {rotate: 0deg;}
            20% {rotate: -20deg;}
            40% {rotate: 15deg;}
            60% {rotate: -10deg;}
            80% {rotate: 5deg;}
            100% {rotate: 0deg;}
        }
    }

    .text-container {
        h3 {
            font-size: 32px;
            text-align: left;
            margin: 0;
        }

        p {
            color: white;
            font-size: 24px;
            text-align: left;
            margin: 0;
            opacity: 0.5;
        }
    }
    
    .icon-container {
        width: 64px;
        height: 64px;
        margin: 0 32px 0 16px;
        flex-shrink: 0;
        
        .icon {
            position: absolute;
            width: 64px;
        }
    }

    .setting-filter {
        filter: invert(61%) sepia(48%) saturate(414%) hue-rotate(144deg) brightness(125%) contrast(91%);
    }

    .theme-filter {
        filter: invert(58%) sepia(9%) saturate(1688%) hue-rotate(268deg) brightness(125%) contrast(92%);
    }

    .goal-filter {
        filter: invert(91%) sepia(16%) saturate(2210%) hue-rotate(318deg) brightness(99%) contrast(92%);
    }

    .wildcard-filter {
        filter: invert(84%) sepia(19%) saturate(538%) hue-rotate(67deg) brightness(86%) contrast(112%);
    }
}