<div class="content-container" [ngClass]="{'locked-border': locked}" [style.outline-color]="idea.ideaType.iconColor">
    <button class="lock-button" (click)="onLockClicked()">
        <img #lockIcon class="lock-icon" [src]="this.locked ? 'assets/game-icons.net/lorc/padlock.svg' : 'assets/game-icons.net/delapouite/padlock-open.svg'" draggable="false">
    </button>
    <button class="discard-button" (click)="onDiscardClicked($event)">
        <div class="icon-container">
            <img #firstIcon class="icon" [@fade]="(showFirstIcon | async) ? 'fadedIn' : 'fadedOut'" [src]="'assets/game-icons.net' + idea.icons[firstIconIndex]" draggable="false">
            <img #secondIcon class="icon" [@fade]="(showSecondIcon | async) ? 'fadedIn' : 'fadedOut'" [src]="'assets/game-icons.net' + idea.icons[secondIconIndex]" draggable="false" (@fade.done)="onFadeDone($event)">
        </div>
        <div class="text-container">
            <h3 [style.color]="idea.ideaType.iconColor">{{idea.ideaName | uppercase}}</h3>
            <p>{{idea.description | uppercase}}</p>
        </div>
    </button>
</div>