<div #ideaBackground class="ideaBackground" [style.background-color]="this.idea.ideaType.backgroundColor" (mousedown)="grabIdea()" (mouseup)="dropIdea()">
    <div class="nameContainer">
        <h3>{{idea.ideaName | uppercase}}</h3>
        <button class="lockButton" (click)="onLockClicked()">
            <img #lockIcon [src]="this.locked ? 'https://game-icons.net/icons/000000/transparent/1x1/lorc/padlock.svg' : 'https://game-icons.net/icons/000000/transparent/1x1/delapouite/padlock-open.svg'" draggable="false">
        </button>
    </div>
    <img #firstIcon [@fade]="(showFirstIcon | async) ? 'fadedIn' : 'fadedOut'" [src]="'https://game-icons.net/icons/000000/transparent/1x1' + idea.icons[firstIconIndex]" draggable="false">
    <img #secondIcon [@fade]="(showSecondIcon | async) ? 'fadedIn' : 'fadedOut'" [src]="'https://game-icons.net/icons/000000/transparent/1x1' + idea.icons[secondIconIndex]" draggable="false" (@fade.done)="onFadeDone($event)">
    <p>{{idea.description | uppercase}}</p>
</div>