@font-face {
    font-family: enter-command;
    src: url(assets/dafonts.com/EnterCommand.ttf);
}

@font-face {
    font-family: enter-command-bold;
    src: url(assets/dafonts.com/EnterCommand-Bold.ttf);
}

@font-face {
    font-family: enter-command-italic;
    src: url(assets/dafonts.com/EnterCommand-Italic.ttf);
}

html {
    height: 100%;
    background-color: rgb(30, 22, 34);
}

h1 {
    font-family: enter-command-bold;
    font-size: calc(32px + 0.5vmax);
}

h2 {
    font-family: enter-command-bold;
    font-size: calc(24px + 0.5vmax);
}

h3 {
    font-family: enter-command;
    font-size: calc(16px + 0.5vmax);
}

p {
    font-family: enter-command-italic;
    font-size: calc(12px + 0.5vmax);
}

body {
    margin: 0;
}

.setting-filter {
    filter: invert(61%) sepia(48%) saturate(414%) hue-rotate(144deg) brightness(125%) contrast(91%);
}

.theme-filter {
    filter: invert(58%) sepia(9%) saturate(1688%) hue-rotate(268deg) brightness(125%) contrast(92%);
}

.goal-filter {
    filter: invert(91%) sepia(16%) saturate(2210%) hue-rotate(318deg) brightness(99%) contrast(92%);
}

.wildcard-filter {
    filter: invert(84%) sepia(19%) saturate(538%) hue-rotate(67deg) brightness(86%) contrast(112%);
}